/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../inventory_styles/sass/base.scss */
.ui-container {
  padding: 15px;
  border: 1px solid #ededed;
  background-color: whitesmoke;
  border-radius: 4px;
}
/* line 17, ../inventory_styles/sass/base.scss */
.ui-container.dash {
  text-align: center;
  text-shadow: 0 2px #FFF;
}
/* line 20, ../inventory_styles/sass/base.scss */
.ui-container.dash h3 {
  color: #999;
}
/* line 24, ../inventory_styles/sass/base.scss */
.ui-container.item {
  position: relative;
  padding: 15px;
  border: 1px solid #ededed;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 5px;
  font-size: 13px;
}
/* line 32, ../inventory_styles/sass/base.scss */
.ui-container.item .title {
  font-size: 15px;
}
/* line 35, ../inventory_styles/sass/base.scss */
.ui-container.item .item-attr {
  text-align: right;
  font-size: 14px;
}
/* line 39, ../inventory_styles/sass/base.scss */
.ui-container.item .info-bar {
  position: absolute;
  right: -1px;
  top: 2px;
}
/* line 43, ../inventory_styles/sass/base.scss */
.ui-container.item .info-bar .bin {
  padding: 3px 5px;
  border-radius: 0 4px 0 4px;
  color: white;
}
/* line 48, ../inventory_styles/sass/base.scss */
.ui-container.item .info-bar .listed {
  color: orange;
  font-weight: bold;
}

/* line 55, ../inventory_styles/sass/base.scss */
section {
  padding: 20px;
}
