/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import '_colors';

body{
}

#accordion{
    cursor: pointer;
    .card-header{
        div{
            font-size:14px;
        }
        .info-bar{

            .listed{
                color:#999;
                text-shadow: 0px 2px #FFF;
            }
        }
    }
    .card-body{
        font-size:13px;
        .bin{
            padding:3px 5px;
            border-radius:4px;
            color:white
        }
    }
    margin-bottom: 5px;
}
.ui-container{
    padding:15px;
    border:1px solid #ededed;
    background-color: $bgwhite;
    border-radius:4px;

    &.dash{
        text-align:center;
        text-shadow:0 2px #FFF;
        h3{
            color:#999;
        }
    }
    &.item{
        position: relative;
        padding:15px;
        border:1px solid #ededed;
        border-radius: 4px;
        background-color: white;
        margin-bottom: 5px;
        font-size:13px;
        .title{
            font-size:15px;
        }
        .item-attr{
            text-align:right;
            font-size:14px;
        }


    }
}
section{
    padding:20px;
}
.my-group .form-control{
    width:50%;
}
